* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.todo-app1 {
  

  width: 350px;
  height:600px;
  background-color: rgba(90, 146, 136, 0.315);
  text-align: center;
  background-size: cover;
  margin: 128px auto;
  border-radius: 3px;
  padding-bottom: 3px;
}
.todo-app {
  

  width: 400px;
  height:600px;
  background-color: rgba(152, 202, 191, 0.815);
  text-align: center;
  background-size: cover;
  margin: 128px auto;
  border-radius: 3px;
  padding-bottom: 3px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 25px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 3px 3px 3px 3px;
  border: 3px solid #121114c0;
  outline: none;
  width: 270px;
  background: #fff;
  color: rgba(17, 16, 16, 0.945);
}

.todo-input::placeholder {
  color: rgb(31, 28, 28);
}

.todo-button {
  padding: 14px 32px 14px 16px;
  margin-left: 13px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #094b5c;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-container {
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(14, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(78, 129, 153, 0.685) 0%,
    rgba(111, 64, 187, 0.568) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}



.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}